body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.signin {
  position: relative;
  background-color: #343a40;
  background: url("../img/architecture.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.signin .overlay {
  position: absolute;
  background-color: #16191c;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.signin h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.signin {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.signin h1 {
    font-size: 3rem;
  }
}

.display {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.display .display-header {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.modal {
  position: fixed;
  background-color: #16191c;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow:auto;
}

.modal .modal-header {
  color: #ffffff;
  background-color: #2158b2;
  border-color: #ffffff;
  height:50px;
  margin-top: 20px;
  padding: 5px 20px;
}

.modal .modal-body {
  color: #ffffff;
  background-color: #2158b2;
  padding-top: 1rem;
  padding: 2px 20px;
  padding-bottom: 3rem;
}

.modal .modal-body .btn {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

#circle {
  width: 100px;
  height: 100px;
  background: light;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.numDisplay {
  position: absolute;
  top: 50%;
  left:50%;

}

.recommendation {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.recommendation .recommendation-header{
  padding-bottom: 4px;
}

.recommendation #recommendation-list{
  margin-left: auto;
  margin-right: auto;
  width:75%;
  padding-top: 4px;
}

div.d-inline-block {
  margin-bottom: 2px !important;
  margin-left: 2px !important;
}

.bg-business {
  background-color: #086788 !important;
}

.bg-computer {
  background-color: #F0C808 !important;
}

.bg-education {
  background-color: #6A9CED !important;
}

.bg-humanities {
  background-color: #3F2F8E !important;
}

.bg-interdisciplinary {
  background-color: #F7CD33 !important;
}

.bg-math {
  background-color: #E06D50 !important;
}

.bg-medical {
  background-color: #605C5C !important;
}

.bg-physical {
  background-color: #023436 !important;
}

.bg-applied {
  background-color: #086788 !important;
}

.bg-social {
  background-color: #1E1B18 !important;
}




